@model SoftwAIR_Alpha.Models.Let

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Let</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemePolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemePolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemeDolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemeDolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.osnovnaCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.osnovnaCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naPopustuZaLoyalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naPopustuZaLoyalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusLeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusLeta)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
