@model SoftwAIR_Alpha.Models.Let

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Let</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemePolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemePolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemeDolaska)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemeDolaska)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.osnovnaCijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.osnovnaCijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naPopustuZaLoyalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naPopustuZaLoyalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusLeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusLeta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
