@model IEnumerable<SoftwAIR_Alpha.Models.Let>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<style>
    body {
        background-image: url(https://wallpapercave.com/wp/wp6903511.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vrijemePolaska)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrijemeDolaska)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.osnovnaCijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.naPopustuZaLoyalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusLeta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.vrijemePolaska)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vrijemeDolaska)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.osnovnaCijena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.naPopustuZaLoyalty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.statusLeta)
                </td>
                <td>

                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
